.falconBot.json.backup
[
    {
        "id": "fd2bd8cfadf0983b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cd64e74d71fbd185",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5123f088baf692fb",
        "type": "group",
        "z": "fd2bd8cfadf0983b",
        "name": "check Files",
        "style": {
            "label": true
        },
        "nodes": [
            "0bcf4aef851f31fd",
            "75196e73b6d5ed1f",
            "4f4b05e822994741",
            "eea5ce7a204b68c6",
            "2acaf73b46f365bc",
            "05b4400c0eeffddb",
            "17107faffba21b44",
            "dc21109e5856f4d9",
            "a42a22b3c5aa6973",
            "1eba09635e8d3dd6"
        ],
        "x": 34,
        "y": 299,
        "w": 1042,
        "h": 202
    },
    {
        "id": "31a7d5666892a8ee",
        "type": "group",
        "z": "fd2bd8cfadf0983b",
        "name": "Convert Image and delete it",
        "style": {
            "label": true
        },
        "nodes": [
            "3acad38d7d3996a0",
            "90be7448a48f16a6",
            "0b670102e979e69b",
            "54d40125a9db2508",
            "b1227e5cc35798b1",
            "e69d54fee738b141",
            "751ccab64661ea67"
        ],
        "x": 44,
        "y": 539,
        "w": 882,
        "h": 122
    },
    {
        "id": "1c4828488a71b550",
        "type": "group",
        "z": "fd2bd8cfadf0983b",
        "name": "call falcon Motor",
        "style": {
            "label": true
        },
        "nodes": [
            "cf3d0e3b6003c633",
            "b6fa0cced77a6ce2",
            "beba21c407631436",
            "93af9922594051f7",
            "65d33ce3f4c44c2b"
        ],
        "x": 54,
        "y": 719,
        "w": 572,
        "h": 122
    },
    {
        "id": "f3e52634f402fa66",
        "type": "group",
        "z": "fd2bd8cfadf0983b",
        "name": "Get Id",
        "style": {
            "label": true
        },
        "nodes": [
            "a7a359744447693b",
            "ea141ee5a7cc6f54",
            "7a2da92c1f2c6b1d"
        ],
        "x": 64,
        "y": 879,
        "w": 292,
        "h": 82
    },
    {
        "id": "ca7cf5c2362fad66",
        "type": "group",
        "z": "fd2bd8cfadf0983b",
        "name": "logger",
        "style": {
            "label": true
        },
        "nodes": [
            "bb3ef92b9c927825",
            "ed0c566166d19dce"
        ],
        "x": 734,
        "y": 739,
        "w": 252,
        "h": 82
    },
    {
        "id": "d498a389a6189e45",
        "type": "group",
        "z": "fd2bd8cfadf0983b",
        "name": "get ids",
        "style": {
            "label": true
        },
        "nodes": [
            "0cde130690752904",
            "28024e457a753f30",
            "8e874ffee86cd3f7"
        ],
        "x": 74,
        "y": 999,
        "w": 462,
        "h": 82
    },
    {
        "id": "c75d19ed01c79312",
        "type": "group",
        "z": "fd2bd8cfadf0983b",
        "name": "clean ids",
        "style": {
            "label": true
        },
        "nodes": [
            "06d1684b8f965b84",
            "7bb33fb86b30b086"
        ],
        "x": 74,
        "y": 1119,
        "w": 352,
        "h": 82
    },
    {
        "id": "a1250aedb7e9643d",
        "type": "group",
        "z": "cd64e74d71fbd185",
        "name": "check Files",
        "style": {
            "label": true
        },
        "nodes": [
            "c5a641131f7a3f6b",
            "7389509cb92e2150",
            "dcfe1dd84730e59a",
            "dda9a0282042145f",
            "70912aac4f308992",
            "9804a3e20a7a6ccc",
            "cd6cafeba5631a88",
            "71e1dd55cf9fe8df",
            "bfbe8c61596ebcb0",
            "937a5046f0e65075",
            "a88e19a2d8b7807b",
            "ef221d2acf22198d"
        ],
        "x": 34,
        "y": 299,
        "w": 1162,
        "h": 202
    },
    {
        "id": "9ad0112e9d40e974",
        "type": "group",
        "z": "cd64e74d71fbd185",
        "name": "Convert Image and delete it",
        "style": {
            "label": true
        },
        "nodes": [
            "e0efd949839819cb",
            "4f9e9d4fdd93198c",
            "67c89f4ef8601b6c",
            "0f1f9c399a667a95",
            "c353e1a95d77f37f",
            "fe84e4612ce19435",
            "f007f6589d7e2b15",
            "f50f0d1e26536d9e",
            "b5a64aaa4969783d"
        ],
        "x": 44,
        "y": 519,
        "w": 942,
        "h": 162
    },
    {
        "id": "544d7a422f62f4f2",
        "type": "group",
        "z": "cd64e74d71fbd185",
        "name": "call falcon Motor",
        "style": {
            "label": true
        },
        "nodes": [
            "77749c5dce6f5aa9",
            "640c29b512630679",
            "393ed6279cde40a6",
            "342e0496ddeb4d84",
            "cd5fe14f95b7ff73"
        ],
        "x": 54,
        "y": 719,
        "w": 572,
        "h": 122
    },
    {
        "id": "3a82d7d087d66cd9",
        "type": "group",
        "z": "cd64e74d71fbd185",
        "name": "Get Id",
        "style": {
            "label": true
        },
        "nodes": [
            "1d91db919f82c6da",
            "b8bc5f68195efe2c",
            "f393b403959a456a"
        ],
        "x": 84,
        "y": 919,
        "w": 292,
        "h": 82
    },
    {
        "id": "7999f6b592519fe5",
        "type": "group",
        "z": "cd64e74d71fbd185",
        "name": "logger",
        "style": {
            "label": true
        },
        "nodes": [
            "a37ff3ea560d683e",
            "b5906d11bd52bbea"
        ],
        "x": 714,
        "y": 739,
        "w": 252,
        "h": 82
    },
    {
        "id": "bb2792f65b946b72",
        "type": "group",
        "z": "cd64e74d71fbd185",
        "name": "get ids",
        "style": {
            "label": true
        },
        "nodes": [
            "1aacf1003f4d666d",
            "aa86f98fbae3da61",
            "f289d5123019774a"
        ],
        "x": 94,
        "y": 1019,
        "w": 462,
        "h": 82
    },
    {
        "id": "f389905ef0db47af",
        "type": "group",
        "z": "cd64e74d71fbd185",
        "name": "clean ids",
        "style": {
            "label": true
        },
        "nodes": [
            "b43e9dda94a7e21c",
            "131ffe1358199041"
        ],
        "x": 74,
        "y": 1119,
        "w": 352,
        "h": 82
    },
    {
        "id": "aa4c4b70994bd785",
        "type": "group",
        "z": "cd64e74d71fbd185",
        "name": "wifi check",
        "style": {
            "label": true
        },
        "nodes": [
            "fe1e5b9db4713e1d",
            "9133c1880d4af491",
            "2096f5bf79642e7d",
            "88c8f06cbc09a44e",
            "ad20ad751e312a7d",
            "345f1e2dd4e197da",
            "852835271e1e613b",
            "aadcaae640ddc550",
            "0a127a0c45cc205d",
            "50a50a0d62b26090"
        ],
        "x": 74,
        "y": 1439,
        "w": 892,
        "h": 162
    },
    {
        "id": "6de6c3ffa93a68ad",
        "type": "group",
        "z": "cd64e74d71fbd185",
        "name": "recurrent wifi",
        "style": {
            "label": true
        },
        "nodes": [
            "971aa1178baf3cdf",
            "384d5c37a325054f"
        ],
        "x": 94,
        "y": 1659,
        "w": 392,
        "h": 82
    },
    {
        "id": "c73736becf77da10",
        "type": "group",
        "z": "cd64e74d71fbd185",
        "name": "inyect ScannerId",
        "style": {
            "label": true
        },
        "nodes": [
            "d9e36db07cf396a1",
            "13875f2cf4de3cac",
            "08f1e390375d9572",
            "a2213218419da99b",
            "474e32eda4c19998",
            "07239f2b28b81fc0",
            "eddac3fcff1e5a55"
        ],
        "x": 74,
        "y": 1299,
        "w": 632,
        "h": 122
    },
    {
        "id": "30260a1c3fef3822",
        "type": "group",
        "z": "cd64e74d71fbd185",
        "name": "websocket",
        "style": {
            "label": true
        },
        "nodes": [
            "738565d349d8c1b3",
            "0bfec733e32c6201",
            "c3bf4994eaa7755a",
            "ccab7576b4a3f1d9",
            "0f5a802a4afafd8a"
        ],
        "x": 74,
        "y": 1959,
        "w": 552,
        "h": 142
    },
    {
        "id": "163927fcbfd2502d",
        "type": "group",
        "z": "cd64e74d71fbd185",
        "name": "websocket test",
        "style": {
            "label": true
        },
        "nodes": [
            "214c2fc3395ccf56",
            "40d51c4a66226228",
            "ede0a957f2157883",
            "b0d8926dc961aa60"
        ],
        "x": 74,
        "y": 1779,
        "w": 412,
        "h": 162
    },
    {
        "id": "9849042aab835acb",
        "type": "group",
        "z": "cd64e74d71fbd185",
        "name": "websocket Response",
        "style": {
            "label": true
        },
        "nodes": [
            "3c7e7c465c9eef0d",
            "b4da2d2f5f1dc948",
            "46a3ed0ecc23b156",
            "3cf6f0e989825761",
            "8c25b98145e075bb",
            "565396c2ec5273a4",
            "09c19e38c4738a3b",
            "c5e66a22b4e3c4cb",
            "a99d58c5efbff74e"
        ],
        "x": 74,
        "y": 2139,
        "w": 732,
        "h": 222
    },
    {
        "id": "6f1ffd392f06aafd",
        "type": "group",
        "z": "cd64e74d71fbd185",
        "name": "get token",
        "style": {
            "label": true
        },
        "nodes": [
            "03c7aa4b75a38af6",
            "3f7eaa7cdc8ec56f",
            "b16ac85e694f5b87"
        ],
        "x": 114,
        "y": 2419,
        "w": 632,
        "h": 82
    },
    {
        "id": "4e2fe5e7589b6a92",
        "type": "axios-endpoint",
        "name": "FalconProxy",
        "baseURL": "http://3.83.97.219/FalconMotor",
        "caCertPath": "",
        "rejectUnauthorized": true,
        "proxyEnabled": false,
        "proxyProtocol": "https",
        "proxyHost": "",
        "proxyPort": ""
    },
    {
        "id": "657ed472135364f1",
        "type": "websocket-listener",
        "path": "",
        "wholemsg": "false"
    },
    {
        "id": "2a6b1379750191f2",
        "type": "websocket-client",
        "path": "ws://3.232.87.89/susuerteWebsocket",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": ""
    },
    {
        "id": "5583b24a97b047ff",
        "type": "websocket-client",
        "path": "ws://localhost:4000",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": ""
    },
    {
        "id": "8920d87262275af8",
        "type": "axios-endpoint",
        "name": "SusuerteBack",
        "baseURL": "http://3.232.87.89/susuerteBack/scanner/token",
        "caCertPath": "",
        "rejectUnauthorized": true,
        "proxyEnabled": false,
        "proxyProtocol": "https",
        "proxyHost": "",
        "proxyPort": ""
    },
    {
        "id": "3acad38d7d3996a0",
        "type": "file in",
        "z": "fd2bd8cfadf0983b",
        "g": "31a7d5666892a8ee",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 180,
        "y": 580,
        "wires": [
            [
                "90be7448a48f16a6"
            ]
        ]
    },
    {
        "id": "90be7448a48f16a6",
        "type": "function",
        "z": "fd2bd8cfadf0983b",
        "g": "31a7d5666892a8ee",
        "name": "buffer to image 64",
        "func": "msg.payload = Buffer.from(msg.payload).toString('base64')\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 580,
        "wires": [
            [
                "751ccab64661ea67",
                "b1227e5cc35798b1"
            ]
        ]
    },
    {
        "id": "7ff04ef968375045",
        "type": "image viewer",
        "z": "fd2bd8cfadf0983b",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 610,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "cf3d0e3b6003c633",
        "type": "axios-request",
        "z": "fd2bd8cfadf0983b",
        "g": "1c4828488a71b550",
        "name": "FalconMotor",
        "endpoint": "4e2fe5e7589b6a92",
        "method": "post",
        "url": "",
        "responseType": "json",
        "keepAlive": false,
        "timeout": 30000,
        "validateStatus": true,
        "headers": [
            {
                "keyType": "str",
                "keyValue": "Content-Type",
                "valueType": "str",
                "valueValue": "application/json"
            }
        ],
        "params": [
            {
                "keyType": "str",
                "keyValue": "",
                "valueType": "str",
                "valueValue": ""
            }
        ],
        "x": 430,
        "y": 760,
        "wires": [
            [
                "93af9922594051f7",
                "65d33ce3f4c44c2b"
            ]
        ]
    },
    {
        "id": "b6fa0cced77a6ce2",
        "type": "link in",
        "z": "fd2bd8cfadf0983b",
        "g": "1c4828488a71b550",
        "name": "link in 1",
        "links": [
            "751ccab64661ea67"
        ],
        "x": 95,
        "y": 760,
        "wires": [
            [
                "beba21c407631436"
            ]
        ]
    },
    {
        "id": "beba21c407631436",
        "type": "function",
        "z": "fd2bd8cfadf0983b",
        "g": "1c4828488a71b550",
        "name": "create Json",
        "func": "const obj = {}\n\nobj[\"ticketType\"] = \"type1\"\nobj[\"image\"] = msg.payload\n\nmsg.payload = obj\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 760,
        "wires": [
            [
                "cf3d0e3b6003c633"
            ]
        ]
    },
    {
        "id": "0bcf4aef851f31fd",
        "type": "inject",
        "z": "fd2bd8cfadf0983b",
        "g": "5123f088baf692fb",
        "name": "path inyect",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "path",
                "v": "D:\\platech\\suserte vision ai\\final test",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "75196e73b6d5ed1f",
                "05b4400c0eeffddb"
            ]
        ]
    },
    {
        "id": "75196e73b6d5ed1f",
        "type": "fs-ops-dir",
        "z": "fd2bd8cfadf0983b",
        "g": "5123f088baf692fb",
        "name": "listFile",
        "path": "path",
        "pathType": "msg",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 310,
        "y": 420,
        "wires": [
            [
                "4f4b05e822994741"
            ]
        ]
    },
    {
        "id": "4f4b05e822994741",
        "type": "change",
        "z": "fd2bd8cfadf0983b",
        "g": "5123f088baf692fb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "file",
                "pt": "flow",
                "to": "files",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 420,
        "wires": [
            [
                "eea5ce7a204b68c6"
            ]
        ]
    },
    {
        "id": "eea5ce7a204b68c6",
        "type": "array-loop",
        "z": "fd2bd8cfadf0983b",
        "g": "5123f088baf692fb",
        "name": "files",
        "key": "aleea5ce7a204b68c6",
        "keyType": "msg",
        "reset": false,
        "resetValue": "value-null",
        "array": "file",
        "arrayType": "flow",
        "x": 610,
        "y": 420,
        "wires": [
            [],
            [
                "2acaf73b46f365bc"
            ]
        ]
    },
    {
        "id": "2acaf73b46f365bc",
        "type": "delay",
        "z": "fd2bd8cfadf0983b",
        "g": "5123f088baf692fb",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 750,
        "y": 420,
        "wires": [
            [
                "17107faffba21b44"
            ]
        ]
    },
    {
        "id": "05b4400c0eeffddb",
        "type": "change",
        "z": "fd2bd8cfadf0983b",
        "g": "5123f088baf692fb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "path",
                "pt": "flow",
                "to": "path",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "17107faffba21b44",
        "type": "function",
        "z": "fd2bd8cfadf0983b",
        "g": "5123f088baf692fb",
        "name": "inyect Path",
        "func": "msg.filename = `${flow.get('path')}\\\\${msg.payload}`\nflow.set(\"filename\", msg.filename)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 420,
        "wires": [
            [
                "dc21109e5856f4d9",
                "1eba09635e8d3dd6"
            ]
        ]
    },
    {
        "id": "dc21109e5856f4d9",
        "type": "link out",
        "z": "fd2bd8cfadf0983b",
        "g": "5123f088baf692fb",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "0b670102e979e69b"
        ],
        "x": 1035,
        "y": 420,
        "wires": []
    },
    {
        "id": "0b670102e979e69b",
        "type": "link in",
        "z": "fd2bd8cfadf0983b",
        "g": "31a7d5666892a8ee",
        "name": "link in 2",
        "links": [
            "dc21109e5856f4d9"
        ],
        "x": 85,
        "y": 580,
        "wires": [
            [
                "3acad38d7d3996a0"
            ]
        ]
    },
    {
        "id": "54d40125a9db2508",
        "type": "fs-ops-delete",
        "z": "fd2bd8cfadf0983b",
        "g": "31a7d5666892a8ee",
        "name": "",
        "path": "",
        "pathType": "str",
        "filename": "filename",
        "filenameType": "msg",
        "x": 770,
        "y": 580,
        "wires": [
            [
                "e69d54fee738b141"
            ]
        ]
    },
    {
        "id": "b1227e5cc35798b1",
        "type": "change",
        "z": "fd2bd8cfadf0983b",
        "g": "31a7d5666892a8ee",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "filename",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 580,
        "wires": [
            [
                "54d40125a9db2508"
            ]
        ]
    },
    {
        "id": "e69d54fee738b141",
        "type": "link out",
        "z": "fd2bd8cfadf0983b",
        "g": "31a7d5666892a8ee",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "a42a22b3c5aa6973"
        ],
        "x": 885,
        "y": 580,
        "wires": []
    },
    {
        "id": "a42a22b3c5aa6973",
        "type": "link in",
        "z": "fd2bd8cfadf0983b",
        "g": "5123f088baf692fb",
        "name": "link in 3",
        "links": [
            "e69d54fee738b141"
        ],
        "x": 525,
        "y": 460,
        "wires": [
            [
                "eea5ce7a204b68c6"
            ]
        ]
    },
    {
        "id": "751ccab64661ea67",
        "type": "link out",
        "z": "fd2bd8cfadf0983b",
        "g": "31a7d5666892a8ee",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "b48a794572c2d741",
            "b6fa0cced77a6ce2"
        ],
        "x": 525,
        "y": 620,
        "wires": []
    },
    {
        "id": "b48a794572c2d741",
        "type": "link in",
        "z": "fd2bd8cfadf0983b",
        "name": "link in 4",
        "links": [
            "751ccab64661ea67"
        ],
        "x": 505,
        "y": 40,
        "wires": [
            [
                "7ff04ef968375045"
            ]
        ]
    },
    {
        "id": "a7a359744447693b",
        "type": "function",
        "z": "fd2bd8cfadf0983b",
        "g": "f3e52634f402fa66",
        "name": "extract id",
        "func": "const example = msg.payload\n\nconst idNames = [\"C.SEG\",\"ID.TRA\",\"Cod.Seg\"]\n\nconst keys = Object.keys(example)\n\nlet foundKey = \"\"\n\nidNames.forEach(idName => {\n    const found = keys.find(key => key == idName)\n    \n    if(found !== undefined){\n        foundKey = found\n    }\n})\n\nmsg.payload = example[foundKey].trim()\n\nlet ids = flow.get(\"ids\")\n\nif(ids === undefined){\n    ids = []\n}\n\nids.push(msg.payload)\nflow.set(\"ids\",ids)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 920,
        "wires": [
            [
                "7a2da92c1f2c6b1d"
            ]
        ]
    },
    {
        "id": "93af9922594051f7",
        "type": "link out",
        "z": "fd2bd8cfadf0983b",
        "g": "1c4828488a71b550",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "ea141ee5a7cc6f54"
        ],
        "x": 585,
        "y": 800,
        "wires": []
    },
    {
        "id": "ea141ee5a7cc6f54",
        "type": "link in",
        "z": "fd2bd8cfadf0983b",
        "g": "f3e52634f402fa66",
        "name": "link in 5",
        "links": [
            "93af9922594051f7"
        ],
        "x": 105,
        "y": 920,
        "wires": [
            [
                "a7a359744447693b"
            ]
        ]
    },
    {
        "id": "65d33ce3f4c44c2b",
        "type": "link out",
        "z": "fd2bd8cfadf0983b",
        "d": true,
        "g": "1c4828488a71b550",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "ed0c566166d19dce"
        ],
        "x": 585,
        "y": 760,
        "wires": []
    },
    {
        "id": "7a2da92c1f2c6b1d",
        "type": "link out",
        "z": "fd2bd8cfadf0983b",
        "d": true,
        "g": "f3e52634f402fa66",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "ed0c566166d19dce"
        ],
        "x": 315,
        "y": 920,
        "wires": []
    },
    {
        "id": "bb3ef92b9c927825",
        "type": "debug",
        "z": "fd2bd8cfadf0983b",
        "g": "ca7cf5c2362fad66",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 780,
        "wires": []
    },
    {
        "id": "ed0c566166d19dce",
        "type": "link in",
        "z": "fd2bd8cfadf0983b",
        "g": "ca7cf5c2362fad66",
        "name": "link in 6",
        "links": [
            "7a2da92c1f2c6b1d",
            "8e874ffee86cd3f7",
            "65d33ce3f4c44c2b",
            "1eba09635e8d3dd6"
        ],
        "x": 775,
        "y": 780,
        "wires": [
            [
                "bb3ef92b9c927825"
            ]
        ]
    },
    {
        "id": "0cde130690752904",
        "type": "inject",
        "z": "fd2bd8cfadf0983b",
        "g": "d498a389a6189e45",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 1040,
        "wires": [
            [
                "28024e457a753f30"
            ]
        ]
    },
    {
        "id": "28024e457a753f30",
        "type": "change",
        "z": "fd2bd8cfadf0983b",
        "g": "d498a389a6189e45",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ids",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1040,
        "wires": [
            [
                "8e874ffee86cd3f7"
            ]
        ]
    },
    {
        "id": "8e874ffee86cd3f7",
        "type": "link out",
        "z": "fd2bd8cfadf0983b",
        "g": "d498a389a6189e45",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "ed0c566166d19dce"
        ],
        "x": 495,
        "y": 1040,
        "wires": []
    },
    {
        "id": "1eba09635e8d3dd6",
        "type": "link out",
        "z": "fd2bd8cfadf0983b",
        "d": true,
        "g": "5123f088baf692fb",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "ed0c566166d19dce"
        ],
        "x": 1035,
        "y": 380,
        "wires": []
    },
    {
        "id": "06d1684b8f965b84",
        "type": "inject",
        "z": "fd2bd8cfadf0983b",
        "g": "c75d19ed01c79312",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 1160,
        "wires": [
            [
                "7bb33fb86b30b086"
            ]
        ]
    },
    {
        "id": "7bb33fb86b30b086",
        "type": "change",
        "z": "fd2bd8cfadf0983b",
        "g": "c75d19ed01c79312",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ids",
                "pt": "flow",
                "to": "[]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "e0efd949839819cb",
        "type": "file in",
        "z": "cd64e74d71fbd185",
        "g": "9ad0112e9d40e974",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 180,
        "y": 600,
        "wires": [
            [
                "4f9e9d4fdd93198c"
            ]
        ]
    },
    {
        "id": "4f9e9d4fdd93198c",
        "type": "function",
        "z": "cd64e74d71fbd185",
        "g": "9ad0112e9d40e974",
        "name": "buffer to image 64",
        "func": "msg.payload = Buffer.from(msg.payload).toString('base64')\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 600,
        "wires": [
            [
                "f007f6589d7e2b15",
                "c353e1a95d77f37f",
                "f50f0d1e26536d9e"
            ]
        ]
    },
    {
        "id": "77749c5dce6f5aa9",
        "type": "axios-request",
        "z": "cd64e74d71fbd185",
        "g": "544d7a422f62f4f2",
        "name": "FalconMotor",
        "endpoint": "4e2fe5e7589b6a92",
        "method": "post",
        "url": "",
        "responseType": "json",
        "keepAlive": false,
        "timeout": 30000,
        "validateStatus": true,
        "headers": [
            {
                "keyType": "str",
                "keyValue": "Content-Type",
                "valueType": "str",
                "valueValue": "application/json"
            }
        ],
        "params": [
            {
                "keyType": "str",
                "keyValue": "",
                "valueType": "str",
                "valueValue": ""
            }
        ],
        "x": 430,
        "y": 760,
        "wires": [
            [
                "342e0496ddeb4d84",
                "cd5fe14f95b7ff73",
                "e88a561500d1e48c"
            ]
        ]
    },
    {
        "id": "640c29b512630679",
        "type": "link in",
        "z": "cd64e74d71fbd185",
        "g": "544d7a422f62f4f2",
        "name": "link in 1",
        "links": [
            "f007f6589d7e2b15"
        ],
        "x": 95,
        "y": 760,
        "wires": [
            [
                "393ed6279cde40a6"
            ]
        ]
    },
    {
        "id": "393ed6279cde40a6",
        "type": "function",
        "z": "cd64e74d71fbd185",
        "g": "544d7a422f62f4f2",
        "name": "create Json",
        "func": "const obj = {}\n\nobj[\"ticketType\"] = \"type1\"\nobj[\"image\"] = msg.payload\n\nmsg.payload = obj\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 760,
        "wires": [
            [
                "77749c5dce6f5aa9"
            ]
        ]
    },
    {
        "id": "c5a641131f7a3f6b",
        "type": "inject",
        "z": "cd64e74d71fbd185",
        "g": "a1250aedb7e9643d",
        "name": "path inyect",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "path",
                "v": "/Users/matador/code/susuerte-develop/falconBot/scannerFolder",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "9804a3e20a7a6ccc",
                "7389509cb92e2150"
            ]
        ]
    },
    {
        "id": "dcfe1dd84730e59a",
        "type": "change",
        "z": "cd64e74d71fbd185",
        "g": "a1250aedb7e9643d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "file",
                "pt": "flow",
                "to": "files",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 420,
        "wires": [
            [
                "dda9a0282042145f"
            ]
        ]
    },
    {
        "id": "70912aac4f308992",
        "type": "delay",
        "z": "cd64e74d71fbd185",
        "g": "a1250aedb7e9643d",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 750,
        "y": 420,
        "wires": [
            [
                "cd6cafeba5631a88"
            ]
        ]
    },
    {
        "id": "9804a3e20a7a6ccc",
        "type": "change",
        "z": "cd64e74d71fbd185",
        "g": "a1250aedb7e9643d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "path",
                "pt": "flow",
                "to": "path",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "cd6cafeba5631a88",
        "type": "function",
        "z": "cd64e74d71fbd185",
        "g": "a1250aedb7e9643d",
        "name": "inyect Path",
        "func": "const mac = flow.get(\"mac\") || false\n\nif (msg.payload !== \".DS_Store\"){\n\n    msg.delete = 0\n\n   if (mac === true) {\n        msg.filename = `${flow.get('path')}/${msg.payload}`\n        flow.set(\"filename\", msg.filename)\n        return msg\n\n    } else {\n        msg.filename = `${flow.get('path')}\\\\${msg.payload}`\n        flow.set(\"filename\", msg.filename)\n        return msg\n    }\n}else{\n    msg.filename = `${flow.get('path')}/${msg.payload}`\n    msg.delete = 1\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 420,
        "wires": [
            [
                "bfbe8c61596ebcb0",
                "937a5046f0e65075"
            ]
        ]
    },
    {
        "id": "a88e19a2d8b7807b",
        "type": "link out",
        "z": "cd64e74d71fbd185",
        "g": "a1250aedb7e9643d",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "67c89f4ef8601b6c"
        ],
        "x": 1155,
        "y": 440,
        "wires": []
    },
    {
        "id": "67c89f4ef8601b6c",
        "type": "link in",
        "z": "cd64e74d71fbd185",
        "g": "9ad0112e9d40e974",
        "name": "link in 2",
        "links": [
            "a88e19a2d8b7807b"
        ],
        "x": 85,
        "y": 600,
        "wires": [
            [
                "e0efd949839819cb"
            ]
        ]
    },
    {
        "id": "c353e1a95d77f37f",
        "type": "change",
        "z": "cd64e74d71fbd185",
        "g": "9ad0112e9d40e974",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "filename",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 600,
        "wires": [
            [
                "0f1f9c399a667a95"
            ]
        ]
    },
    {
        "id": "fe84e4612ce19435",
        "type": "link out",
        "z": "cd64e74d71fbd185",
        "g": "9ad0112e9d40e974",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "71e1dd55cf9fe8df"
        ],
        "x": 945,
        "y": 600,
        "wires": []
    },
    {
        "id": "71e1dd55cf9fe8df",
        "type": "link in",
        "z": "cd64e74d71fbd185",
        "g": "a1250aedb7e9643d",
        "name": "link in 3",
        "links": [
            "fe84e4612ce19435"
        ],
        "x": 525,
        "y": 460,
        "wires": [
            [
                "dda9a0282042145f"
            ]
        ]
    },
    {
        "id": "f007f6589d7e2b15",
        "type": "link out",
        "z": "cd64e74d71fbd185",
        "g": "9ad0112e9d40e974",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "640c29b512630679",
            "f581186dddc76b91"
        ],
        "x": 525,
        "y": 640,
        "wires": []
    },
    {
        "id": "f581186dddc76b91",
        "type": "link in",
        "z": "cd64e74d71fbd185",
        "name": "link in 4",
        "links": [
            "f007f6589d7e2b15"
        ],
        "x": 505,
        "y": 40,
        "wires": [
            [
                "7015479009d28f70"
            ]
        ]
    },
    {
        "id": "1d91db919f82c6da",
        "type": "function",
        "z": "cd64e74d71fbd185",
        "g": "3a82d7d087d66cd9",
        "name": "extract id",
        "func": "const example = msg.payload\n\nconst idNames = [\n    \"C.SEG\",\n    \"ID.TRA\",\n    \"Cod.Seg\",\n    \"ID TRA\",\n    \"ID. TRA\",\n    \"TRA\",\n    \"NO.TR\"\n    ]\n\nconst keys = Object.keys(example)\n\nlet foundKey = \"\"\n\n\n\nidNames.forEach(idName => {\n    const found = keys.find(key => key == idName)\n    \n    if(found !== undefined){\n        foundKey = found\n    }\n})\n\nmsg.payload = example[foundKey].trim()\n\nlet ids = flow.get(\"ids\")\n\nif(ids === undefined){\n    ids = []\n}\n\n\nconst idFound = ids.find(id => id === msg.payload)\n\n/*\nif(idFound === undefined){\n    ids.push(msg.payload)\n    flow.set(\"ids\",ids)\n    \n   \n    \n    msg.payload = {\n        topic   : \"ticket\",\n        message :  {\n            \"id_TRA\": msg.payload,\n            \"scannerId\": flow.get(\"scannerId\")\n        }\n    }\n    \n    return msg;\n}*/\n\n\nflow.set(\"id_TRA\", msg.payload)\n\nmsg.payload = {\n    \"topic\": \"front\",\n    \"message\": {\n        \"id_TRA\": msg.payload,\n        \"scannerId\": \"\",\n        \n    }\n}\n\nreturn msg\n\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 960,
        "wires": [
            [
                "f393b403959a456a"
            ]
        ]
    },
    {
        "id": "342e0496ddeb4d84",
        "type": "link out",
        "z": "cd64e74d71fbd185",
        "g": "544d7a422f62f4f2",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "b8bc5f68195efe2c"
        ],
        "x": 585,
        "y": 800,
        "wires": []
    },
    {
        "id": "b8bc5f68195efe2c",
        "type": "link in",
        "z": "cd64e74d71fbd185",
        "g": "3a82d7d087d66cd9",
        "name": "link in 5",
        "links": [
            "342e0496ddeb4d84"
        ],
        "x": 125,
        "y": 960,
        "wires": [
            [
                "1d91db919f82c6da"
            ]
        ]
    },
    {
        "id": "cd5fe14f95b7ff73",
        "type": "link out",
        "z": "cd64e74d71fbd185",
        "d": true,
        "g": "544d7a422f62f4f2",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "b5906d11bd52bbea"
        ],
        "x": 585,
        "y": 760,
        "wires": []
    },
    {
        "id": "f393b403959a456a",
        "type": "link out",
        "z": "cd64e74d71fbd185",
        "g": "3a82d7d087d66cd9",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "0f5a802a4afafd8a"
        ],
        "x": 335,
        "y": 960,
        "wires": []
    },
    {
        "id": "a37ff3ea560d683e",
        "type": "debug",
        "z": "cd64e74d71fbd185",
        "g": "7999f6b592519fe5",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 780,
        "wires": []
    },
    {
        "id": "b5906d11bd52bbea",
        "type": "link in",
        "z": "cd64e74d71fbd185",
        "g": "7999f6b592519fe5",
        "name": "link in 6",
        "links": [
            "bfbe8c61596ebcb0",
            "cd5fe14f95b7ff73",
            "d5ef7b61282b67a3",
            "f289d5123019774a",
            "b0d8926dc961aa60",
            "852835271e1e613b"
        ],
        "x": 755,
        "y": 780,
        "wires": [
            [
                "a37ff3ea560d683e"
            ]
        ]
    },
    {
        "id": "1aacf1003f4d666d",
        "type": "inject",
        "z": "cd64e74d71fbd185",
        "g": "bb2792f65b946b72",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 1060,
        "wires": [
            [
                "aa86f98fbae3da61"
            ]
        ]
    },
    {
        "id": "aa86f98fbae3da61",
        "type": "change",
        "z": "cd64e74d71fbd185",
        "g": "bb2792f65b946b72",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ids",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1060,
        "wires": [
            [
                "f289d5123019774a"
            ]
        ]
    },
    {
        "id": "f289d5123019774a",
        "type": "link out",
        "z": "cd64e74d71fbd185",
        "g": "bb2792f65b946b72",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "b5906d11bd52bbea"
        ],
        "x": 515,
        "y": 1060,
        "wires": []
    },
    {
        "id": "bfbe8c61596ebcb0",
        "type": "link out",
        "z": "cd64e74d71fbd185",
        "g": "a1250aedb7e9643d",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "b5906d11bd52bbea"
        ],
        "x": 1035,
        "y": 380,
        "wires": []
    },
    {
        "id": "b43e9dda94a7e21c",
        "type": "inject",
        "z": "cd64e74d71fbd185",
        "g": "f389905ef0db47af",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 1160,
        "wires": [
            [
                "131ffe1358199041"
            ]
        ]
    },
    {
        "id": "131ffe1358199041",
        "type": "change",
        "z": "cd64e74d71fbd185",
        "g": "f389905ef0db47af",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ids",
                "pt": "flow",
                "to": "[]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "738565d349d8c1b3",
        "type": "websocket out",
        "z": "cd64e74d71fbd185",
        "g": "30260a1c3fef3822",
        "name": "susuerteWebsocket",
        "server": "",
        "client": "2a6b1379750191f2",
        "x": 510,
        "y": 2020,
        "wires": []
    },
    {
        "id": "0bfec733e32c6201",
        "type": "inject",
        "z": "cd64e74d71fbd185",
        "g": "30260a1c3fef3822",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "\"hola\"",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"topic\":\"front\",\"message\":{\"id_TRA\":\"5815861107\",\"scannerId\":\"\"}}",
        "payloadType": "json",
        "x": 170,
        "y": 2000,
        "wires": [
            [
                "ccab7576b4a3f1d9"
            ]
        ]
    },
    {
        "id": "fe1e5b9db4713e1d",
        "type": "inject",
        "z": "cd64e74d71fbd185",
        "g": "aa4c4b70994bd785",
        "name": "init",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "6",
        "topic": "",
        "payload": "{\"topic\":\"init\",\"message\":{\"scannerId\":\"\"}}",
        "payloadType": "json",
        "x": 170,
        "y": 1560,
        "wires": [
            [
                "9133c1880d4af491",
                "50a50a0d62b26090"
            ]
        ]
    },
    {
        "id": "88c8f06cbc09a44e",
        "type": "delay",
        "z": "cd64e74d71fbd185",
        "g": "aa4c4b70994bd785",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 640,
        "y": 1560,
        "wires": [
            [
                "9133c1880d4af491",
                "aadcaae640ddc550"
            ]
        ]
    },
    {
        "id": "c3bf4994eaa7755a",
        "type": "link in",
        "z": "cd64e74d71fbd185",
        "g": "30260a1c3fef3822",
        "name": "link in 8",
        "links": [
            "345f1e2dd4e197da",
            "a2213218419da99b",
            "f847d761b4a5b9aa",
            "565396c2ec5273a4"
        ],
        "x": 255,
        "y": 2060,
        "wires": [
            [
                "738565d349d8c1b3"
            ]
        ]
    },
    {
        "id": "ad20ad751e312a7d",
        "type": "change",
        "z": "cd64e74d71fbd185",
        "g": "aa4c4b70994bd785",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "init",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 1520,
        "wires": [
            [
                "345f1e2dd4e197da"
            ]
        ]
    },
    {
        "id": "345f1e2dd4e197da",
        "type": "link out",
        "z": "cd64e74d71fbd185",
        "g": "aa4c4b70994bd785",
        "name": "link out 11",
        "mode": "link",
        "links": [
            "c3bf4994eaa7755a"
        ],
        "x": 785,
        "y": 1520,
        "wires": []
    },
    {
        "id": "852835271e1e613b",
        "type": "link out",
        "z": "cd64e74d71fbd185",
        "g": "aa4c4b70994bd785",
        "name": "link out 12",
        "mode": "link",
        "links": [
            "b5906d11bd52bbea"
        ],
        "x": 925,
        "y": 1560,
        "wires": []
    },
    {
        "id": "aadcaae640ddc550",
        "type": "function",
        "z": "cd64e74d71fbd185",
        "g": "aa4c4b70994bd785",
        "name": "msg",
        "func": "msg.payload = \"Sin Internet\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1560,
        "wires": [
            [
                "852835271e1e613b"
            ]
        ]
    },
    {
        "id": "971aa1178baf3cdf",
        "type": "inject",
        "z": "cd64e74d71fbd185",
        "g": "6de6c3ffa93a68ad",
        "name": "recurrent internet",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 1700,
        "wires": [
            [
                "384d5c37a325054f"
            ]
        ]
    },
    {
        "id": "0a127a0c45cc205d",
        "type": "change",
        "z": "cd64e74d71fbd185",
        "g": "aa4c4b70994bd785",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "init",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "d9e36db07cf396a1",
        "type": "inject",
        "z": "cd64e74d71fbd185",
        "g": "c73736becf77da10",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "{\"topic\":\"setScannerId\",\"message\":{\"scannerId\":\"\"}}",
        "payloadType": "json",
        "x": 170,
        "y": 1340,
        "wires": [
            [
                "08f1e390375d9572",
                "07239f2b28b81fc0"
            ]
        ]
    },
    {
        "id": "3c7e7c465c9eef0d",
        "type": "websocket in",
        "z": "cd64e74d71fbd185",
        "g": "9849042aab835acb",
        "name": "susuerteWebsocket",
        "server": "",
        "client": "2a6b1379750191f2",
        "x": 190,
        "y": 2200,
        "wires": [
            [
                "b4da2d2f5f1dc948"
            ]
        ]
    },
    {
        "id": "b4da2d2f5f1dc948",
        "type": "json",
        "z": "cd64e74d71fbd185",
        "g": "9849042aab835acb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 2200,
        "wires": [
            [
                "c5e66a22b4e3c4cb"
            ]
        ]
    },
    {
        "id": "214c2fc3395ccf56",
        "type": "websocket out",
        "z": "cd64e74d71fbd185",
        "g": "163927fcbfd2502d",
        "name": "testWebsocket",
        "server": "",
        "client": "2a6b1379750191f2",
        "x": 380,
        "y": 1820,
        "wires": []
    },
    {
        "id": "40d51c4a66226228",
        "type": "inject",
        "z": "cd64e74d71fbd185",
        "g": "163927fcbfd2502d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 1820,
        "wires": [
            [
                "214c2fc3395ccf56"
            ]
        ]
    },
    {
        "id": "ede0a957f2157883",
        "type": "websocket in",
        "z": "cd64e74d71fbd185",
        "g": "163927fcbfd2502d",
        "name": "testWebsocket",
        "server": "",
        "client": "2a6b1379750191f2",
        "x": 180,
        "y": 1900,
        "wires": [
            [
                "b0d8926dc961aa60"
            ]
        ]
    },
    {
        "id": "50a50a0d62b26090",
        "type": "function",
        "z": "cd64e74d71fbd185",
        "g": "aa4c4b70994bd785",
        "name": "getScannerId",
        "func": "msg.payload.message.scannerId = flow.get(\"scannerId\")\nmsg.payload.message.token = flow.get(\"token\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1480,
        "wires": [
            [
                "0a127a0c45cc205d"
            ]
        ]
    },
    {
        "id": "ccab7576b4a3f1d9",
        "type": "function",
        "z": "cd64e74d71fbd185",
        "g": "30260a1c3fef3822",
        "name": "getScannerId",
        "func": "msg.payload.message.scannerId = flow.get(\"scannerId\")\nmsg.payload.message.token = flow.get(\"token\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 2000,
        "wires": [
            [
                "738565d349d8c1b3"
            ]
        ]
    },
    {
        "id": "b0d8926dc961aa60",
        "type": "link out",
        "z": "cd64e74d71fbd185",
        "g": "163927fcbfd2502d",
        "name": "link out 13",
        "mode": "link",
        "links": [
            "b5906d11bd52bbea"
        ],
        "x": 385,
        "y": 1900,
        "wires": []
    },
    {
        "id": "13875f2cf4de3cac",
        "type": "function",
        "z": "cd64e74d71fbd185",
        "g": "c73736becf77da10",
        "name": "getScannerId",
        "func": "msg.payload.message.scannerId = flow.get(\"scannerId\")\nmsg.payload.message.token = flow.get(\"token\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1380,
        "wires": [
            [
                "a2213218419da99b"
            ]
        ]
    },
    {
        "id": "08f1e390375d9572",
        "type": "delay",
        "z": "cd64e74d71fbd185",
        "g": "c73736becf77da10",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 1380,
        "wires": [
            [
                "13875f2cf4de3cac"
            ]
        ]
    },
    {
        "id": "a2213218419da99b",
        "type": "link out",
        "z": "cd64e74d71fbd185",
        "g": "c73736becf77da10",
        "name": "link out 14",
        "mode": "link",
        "links": [
            "c3bf4994eaa7755a"
        ],
        "x": 605,
        "y": 1380,
        "wires": []
    },
    {
        "id": "f50f0d1e26536d9e",
        "type": "change",
        "z": "cd64e74d71fbd185",
        "g": "9ad0112e9d40e974",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "image64",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "46a3ed0ecc23b156",
        "type": "function",
        "z": "cd64e74d71fbd185",
        "g": "9849042aab835acb",
        "name": "Recurrent Tasks",
        "func": "const canSendImage = flow.get(\"canSendImage\")\nconst canRegisterTicket = flow.get(\"canRegisterTicket\")\n\nif(canRegisterTicket === true){\n\n    // send the message to create a new ticket\n   const message = {\n        topic : \"ticket\",\n        message : {\n            \"id_TRA\": flow.get(\"id_TRA\"),\n            scannerId : flow.get(\"scannerId\"),\n            token : flow.get(\"token\"),\n            ticketInfo : flow.get(\"ticketInfo\")\n        }\n    }\n    \n    flow.set(\"canRegisterTicket\", false)\n\n    msg.payload = Buffer.from(JSON.stringify(message))\n    \n    return msg; \n}\n\nif(canSendImage === true){\n   const message = {\n        topic : \"imageSend\",\n        message : {\n            image : flow.get(\"image64\"),\n            scannerId : flow.get(\"scannerId\")\n        }\n    }\n    \n    flow.set(\"canSendImage\", false)\n\n    msg.payload = Buffer.from(JSON.stringify(message))\n    \n    return msg; \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 2320,
        "wires": [
            [
                "565396c2ec5273a4"
            ]
        ]
    },
    {
        "id": "3cf6f0e989825761",
        "type": "inject",
        "z": "cd64e74d71fbd185",
        "g": "9849042aab835acb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 2320,
        "wires": [
            [
                "46a3ed0ecc23b156"
            ]
        ]
    },
    {
        "id": "8c25b98145e075bb",
        "type": "function",
        "z": "cd64e74d71fbd185",
        "g": "9849042aab835acb",
        "name": "canSendImage",
        "func": "const canSendImage = flow.get(\"canSendImage\")\n\nif(canSendImage === undefined){\n    flow.set(\"canSendImage\", true)\n}\n\nif(canSendImage === false){\n    flow.set(\"canSendImage\", true)\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "565396c2ec5273a4",
        "type": "link out",
        "z": "cd64e74d71fbd185",
        "g": "9849042aab835acb",
        "name": "link out 15",
        "mode": "link",
        "links": [
            "c3bf4994eaa7755a"
        ],
        "x": 485,
        "y": 2320,
        "wires": []
    },
    {
        "id": "0f5a802a4afafd8a",
        "type": "link in",
        "z": "cd64e74d71fbd185",
        "g": "30260a1c3fef3822",
        "name": "link in 9",
        "links": [
            "f393b403959a456a"
        ],
        "x": 195,
        "y": 2040,
        "wires": [
            [
                "ccab7576b4a3f1d9"
            ]
        ]
    },
    {
        "id": "09c19e38c4738a3b",
        "type": "function",
        "z": "cd64e74d71fbd185",
        "g": "9849042aab835acb",
        "name": "canRegisterTicket",
        "func": "const canSendImage = flow.get(\"canRegisterTicket\")\n\n// set the information of the ticket raffleDate and prize\nflow.set(\"ticketInfo\", msg.payload.message.ticketInfo)\n\nif(canSendImage === undefined){\n    flow.set(\"canRegisterTicket\", true)\n}\n\nif(canSendImage === false){\n    flow.set(\"canRegisterTicket\", true)\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 2220,
        "wires": [
            []
        ]
    },
    {
        "id": "c5e66a22b4e3c4cb",
        "type": "switch",
        "z": "cd64e74d71fbd185",
        "g": "9849042aab835acb",
        "name": "",
        "property": "payload.topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "error",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "imageRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OK",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 510,
        "y": 2200,
        "wires": [
            [
                "a99d58c5efbff74e"
            ],
            [
                "09c19e38c4738a3b",
                "fb97dd6ed8e0b157"
            ],
            [
                "8c25b98145e075bb"
            ]
        ]
    },
    {
        "id": "a99d58c5efbff74e",
        "type": "change",
        "z": "cd64e74d71fbd185",
        "g": "9849042aab835acb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 2180,
        "wires": [
            [
                "287514d7eda9f51c"
            ]
        ]
    },
    {
        "id": "07239f2b28b81fc0",
        "type": "file in",
        "z": "cd64e74d71fbd185",
        "g": "c73736becf77da10",
        "name": "config",
        "filename": "/Users/matador/code/susuerte-develop/falconBot/config/config.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 310,
        "y": 1340,
        "wires": [
            [
                "eddac3fcff1e5a55"
            ]
        ]
    },
    {
        "id": "eddac3fcff1e5a55",
        "type": "json",
        "z": "cd64e74d71fbd185",
        "g": "c73736becf77da10",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 1340,
        "wires": [
            [
                "474e32eda4c19998",
                "b1a1ea73553ba159"
            ]
        ]
    },
    {
        "id": "474e32eda4c19998",
        "type": "change",
        "z": "cd64e74d71fbd185",
        "g": "c73736becf77da10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scannerId",
                "pt": "flow",
                "to": "payload.scannerId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "03c7aa4b75a38af6",
        "type": "axios-request",
        "z": "cd64e74d71fbd185",
        "g": "6f1ffd392f06aafd",
        "name": "susuerteBack",
        "endpoint": "8920d87262275af8",
        "method": "get",
        "url": "",
        "responseType": "json",
        "keepAlive": false,
        "timeout": 30000,
        "validateStatus": true,
        "headers": [
            {
                "keyType": "str",
                "keyValue": "Content-Type",
                "valueType": "str",
                "valueValue": "application/json"
            }
        ],
        "params": [
            {
                "keyType": "str",
                "keyValue": "scannerId",
                "valueType": "flow",
                "valueValue": "scannerId"
            }
        ],
        "x": 430,
        "y": 2460,
        "wires": [
            [
                "b16ac85e694f5b87"
            ]
        ]
    },
    {
        "id": "3f7eaa7cdc8ec56f",
        "type": "inject",
        "z": "cd64e74d71fbd185",
        "g": "6f1ffd392f06aafd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 2460,
        "wires": [
            [
                "03c7aa4b75a38af6"
            ]
        ]
    },
    {
        "id": "b16ac85e694f5b87",
        "type": "change",
        "z": "cd64e74d71fbd185",
        "g": "6f1ffd392f06aafd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "token",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 2460,
        "wires": [
            []
        ]
    },
    {
        "id": "e88a561500d1e48c",
        "type": "debug",
        "z": "cd64e74d71fbd185",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 900,
        "wires": []
    },
    {
        "id": "0f1f9c399a667a95",
        "type": "fs-ops-delete",
        "z": "cd64e74d71fbd185",
        "g": "9ad0112e9d40e974",
        "name": "",
        "path": "",
        "pathType": "str",
        "filename": "filename",
        "filenameType": "msg",
        "x": 830,
        "y": 600,
        "wires": [
            [
                "fe84e4612ce19435"
            ]
        ]
    },
    {
        "id": "7389509cb92e2150",
        "type": "fs-ops-dir",
        "z": "cd64e74d71fbd185",
        "g": "a1250aedb7e9643d",
        "name": "listFile",
        "path": "path",
        "pathType": "msg",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 310,
        "y": 420,
        "wires": [
            [
                "dcfe1dd84730e59a"
            ]
        ]
    },
    {
        "id": "7015479009d28f70",
        "type": "image viewer",
        "z": "cd64e74d71fbd185",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 670,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "9133c1880d4af491",
        "type": "is online",
        "z": "cd64e74d71fbd185",
        "g": "aa4c4b70994bd785",
        "name": "",
        "url": "",
        "action": "0",
        "x": 340,
        "y": 1560,
        "wires": [
            [
                "2096f5bf79642e7d"
            ]
        ]
    },
    {
        "id": "384d5c37a325054f",
        "type": "is online",
        "z": "cd64e74d71fbd185",
        "g": "6de6c3ffa93a68ad",
        "name": "",
        "url": "",
        "action": "2",
        "x": 400,
        "y": 1700,
        "wires": [
            [
                "2096f5bf79642e7d"
            ]
        ]
    },
    {
        "id": "2096f5bf79642e7d",
        "type": "while-loop",
        "z": "cd64e74d71fbd185",
        "g": "aa4c4b70994bd785",
        "name": "checkOnline",
        "condi": "!msg.payload",
        "limit": false,
        "limitTime": 10000,
        "time": "wl4d53ad71638c0354",
        "timeType": "msg",
        "x": 490,
        "y": 1560,
        "wires": [
            [
                "ad20ad751e312a7d"
            ],
            [
                "88c8f06cbc09a44e"
            ]
        ]
    },
    {
        "id": "dda9a0282042145f",
        "type": "array-loop",
        "z": "cd64e74d71fbd185",
        "g": "a1250aedb7e9643d",
        "name": "files",
        "key": "aleea5ce7a204b68c6",
        "keyType": "msg",
        "reset": false,
        "resetValue": "value-null",
        "array": "file",
        "arrayType": "flow",
        "x": 610,
        "y": 420,
        "wires": [
            [],
            [
                "70912aac4f308992"
            ]
        ]
    },
    {
        "id": "287514d7eda9f51c",
        "type": "play audio",
        "z": "cd64e74d71fbd185",
        "name": "",
        "voice": "1",
        "x": 910,
        "y": 2180,
        "wires": []
    },
    {
        "id": "b1a1ea73553ba159",
        "type": "change",
        "z": "cd64e74d71fbd185",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mac",
                "pt": "flow",
                "to": "payload.mac",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "937a5046f0e65075",
        "type": "switch",
        "z": "cd64e74d71fbd185",
        "g": "a1250aedb7e9643d",
        "name": "",
        "property": "delete",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1070,
        "y": 420,
        "wires": [
            [
                "ef221d2acf22198d"
            ],
            [
                "a88e19a2d8b7807b"
            ]
        ]
    },
    {
        "id": "b5a64aaa4969783d",
        "type": "link in",
        "z": "cd64e74d71fbd185",
        "g": "9ad0112e9d40e974",
        "name": "link in 10",
        "links": [
            "ef221d2acf22198d"
        ],
        "x": 725,
        "y": 560,
        "wires": [
            [
                "0f1f9c399a667a95"
            ]
        ]
    },
    {
        "id": "ef221d2acf22198d",
        "type": "link out",
        "z": "cd64e74d71fbd185",
        "g": "a1250aedb7e9643d",
        "name": "link out 16",
        "mode": "link",
        "links": [
            "b5a64aaa4969783d"
        ],
        "x": 1155,
        "y": 400,
        "wires": []
    },
    {
        "id": "fb97dd6ed8e0b157",
        "type": "debug",
        "z": "cd64e74d71fbd185",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 2320,
        "wires": []
    }
]